<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
    <form method="post" action="/getcust">
        Id:<input type="text" name="id"><br><br>
        <input type="submit"> &nbsp &nbsp <a href="/welcome">Home</a> <br><br>
        {{message}}
    </form>
    {% if cust %}
        <table border="1">
            <thead>
            <th>Id</th><th>Name</th><th>Area</th><th>Email</th><th>
                Gender</th><th>Meterno</th><th>Bill_amount</th>>
            </thead>

            <tbody>
            <td>{{cust.eid}}</td>
            <td>{{cust.name}}</td>
            <td>{{cust.area}}</td>
            <td>{{cust.email}}</td>
            <td>{{cust.gender}}</td>
            <td>{{cust.meterno}}</td>
            <td>{{cust.bill_amount}}</td>



    {% endif %}
            </tbody>
        </table>

</body>
</html>